<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" type="text/css"
            href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
        <link rel="stylesheet" href="../src/Access/css/unitis/utilitiesRb.css">
        <link rel="stylesheet" href="../src/Access/css/about-king.css">
    </head>

<body>
    <section class="about-king">
        <div class="ctnr">
            <div class="row">
                <div class="clm" style="--w-lg: 9;--w-xs:12">
                    <div class="news-view">

                        <div class="about-img">
                            <div class="row">
                                <div class="about-img__item w-100 h-100" style="--w-xs:12;--w-lg:4">
                                    <img class="d-block w-100 h-100"
                                        src="https://www.asiakingtravel.com/cuploads/images/About-us/IMG_9631.jpg"
                                        alt="">
                                </div>
                                <div class="about-img__item  w-100 h-100" style="--w-xs:12;--w-lg:4">
                                    <img class="d-block w-100 h-100"
                                        src="https://www.asiakingtravel.com/cuploads/images/About-us/IMG_9631.jpg"
                                        alt="">
                                </div>
                                <div class="about-img__item  w-100 h-100" style="--w-xs:12;--w-lg:4">
                                    <img class="d-block w-100 h-100"
                                        src="https://www.asiakingtravel.com/cuploads/images/About-us/IMG_9631.jpg"
                                        alt="">
                                </div>
                            </div>
                            <h5 class="fw-700 about-king__title">Who we are?</h5>
                        </div>
                        <span class="about-king__desc">
                            Asia King Travel was founded in March 2007 . We specialise in personalised service and have
                            deliberately remained specific in what we do rather than expand into a big outfit. We cater
                            for a niche market while providing excellent value for money. Our head office includes
                            management, sales, production and our marketing department in Hanoi. Our operations offices
                            are throughout Vietnam, Laos and Cambodia. We offer tailor-made individual tours and private
                            group tours, incentives tours as well as soft trekking and cycling tours. We have proven
                            success over the past six years and are always striving to improve our service quality by
                            creating new and interesting travel products, discovering new destinations and new
                            activities to meet the expectations of customers and professional partners. Our customers
                            include travellers and partners from France, USA, Australia and various European countries.
                        </span>
                        <h5 class="fw-700 about-king__title">What is Asia King Travel mean?</h5>
                        <span class="about-king__desc">
                            Asia King Travel doesn’t mean the luxury travel service for the high ranking people like the
                            people thought. Asia King Travel means simply the best quality of travel service for
                            customers who book the tour to the part of Asia. For us the customers are the most
                            important, they like “the kings“. And we try to serve them as “the kings”, "Asia King ". We
                            are aware of the best marketing solution for our travel business, our future. It’s quality
                            of the service which makes customer satisfaction.
                        </span>
                        <h5 class="fw-700 about-king__title">What credentials we have ?</h5>
                        <span class="about-king__desc">
                            You will feel worry about money may be lost, unsafe. Please bear in mind that your money is
                            fully protected and covered by National Tourism Administration of Vietnam because our
                            business is fully licensed by Vietnam business law and National Tourism Administration of
                            Vietnam. You can get a better feel about who we are, and build confidence in our company,
                            we've prepared below some of our credentials. Utilizing this information, you can "check us
                            out" and confirm for yourself the legitimacy of our company
                        </span>
                        <h5 class="fw-700 about-king__title">What do we do?</h5>
                        <span class="about-king__desc">
                            We specialise in providing a ’tailor-made’ travel service to customers who are looking for
                            that ‘perfect’ holiday. This is achieved by collaborating closely with our customers in
                            order to clearly identify their needs. This guarantees that every service we deliver aligns
                            specifically with the travel desires of those we are here to serve. We focus only on
                            individual tours and private group tours of a variety of different facets, such as:
                        </span>
                        <ul class="about-king__bottom">
                            <li>+ Classic tours</li>
                            <li>+ Incentives trips</li>
                            <li>+ Adventure tours</li>
                            <li>+ Beach holidays</li>
                            <li>+ Meeting & conference.</li>
                        </ul>
                    </div>
                </div>
                <div class="clm" style="--w-lg: 3;--w-xs:12"></div>
            </div>
        </div>
    </section>
    <!-- slick  -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <!-- end slick -->
    <script src="../src/Access/js/main.js"></script>
</body>

</html>