<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link  rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <link rel="stylesheet" href="../src/Access/css/banner.css">
    <link rel="stylesheet" href="../src/Access/css/unitis/utilitiesRb.css">
</head>
<body>
    
<section class="banner-as">
    <div class="slide">
        <div class="nivoSlider">
            <img src="https://www.asiakingtravel.com/uploads/images/602/vietnam-classic-7.jpg" alt="">
            <img src="https://www.asiakingtravel.com/uploads/images/602/vietnam-classic-7.jpg" alt="">
            <img src="https://www.asiakingtravel.com/uploads/images/602/vietnam-classic-7.jpg" alt="">

        </div>

        <div class="nivo-caption">
            <div class="ctnr">
                <div class="row">
                    <div class="clm" style="--w-lg:4">
                        <div class="text-banner">
                            Xin Chao 
                            <span><strong>VIETNAM!</strong></span>
                        </div>
                    </div>
                    <div class="clm" style="--w-lg:8">
                        <div class="text-desc-banner">
                            Astonishingly exotic and utterly compelling, Vietnam is a country of breathtaking nature. Let us be your companion on your trip to our S-shaped country.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>












<!-- slick  -->
    <script
      type="text/javascript"
      src="https://code.jquery.com/jquery-1.11.0.min.js"
    ></script>
    <script
      type="text/javascript"
      src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"
    ></script>
    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"
    ></script>
<!-- end slick -->


<script src="../src/Access/js/main.js"></script>
</body>
</html>