<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"
    />
    <link
      rel="stylesheet"
      href="../src/Access/css/destination-list.css"
    />
    <link rel="stylesheet" href="../src/Access/css/unitis/utilitiesRb.css">
  </head>
  <body>
    <main>
      <div class="ctnr">
        <section class="destinationList">
          <div class="box_head ta-center">
            <a href="" class="box_head_title"> Tour destinations </a>
            <p>
              Select the tour activities that you in all Southeast Asia
              countries, honeymoon, beach holiday, adventure tours...
            </p>
          </div>

          <div class="row box-destinationList-row">
            <div class="clm item-destinion" style="--w-lg: 3">
              <div class="inner-dest">
                <a href="">
                  <span class="tt">Vietnam tours</span>
                  <span class="img-dest-list">
                    <img
                      src="https://www.asiakingtravel.com/uploads/images/67/vnese-lady_w350_h682_c1.jpg"
                      alt=""
                      class="img-hidden"
                    />
                  </span>
                </a>

                <div class="btm">
                  <p>
                    Vietnam, situated in Southeast Asia, is renowned for its
                    stunning golden sand beaches, breathtaking landscapes,
                    captivating bays, imposing highlands, and rich cultural
                    heritage. Throughout its history, the country has undergone
                    much transformation, preserving its ancient charm while
                    embracing its modernity
                  </p>
                  <div class="ta-center">
                    <a href="" class="btn-sm"><strong>See more</strong></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="clm item-destinion" style="--w-lg: 3">
              <div class="inner-dest">
                <a href="">
                  <span class="tt">Vietnam tours</span>
                  <span class="img-dest-list">
                    <img
                      src="https://www.asiakingtravel.com/uploads/images/67/vnese-lady_w350_h682_c1.jpg"
                      alt=""
                      class="img-hidden"
                    />
                  </span>
                </a>

                <div class="btm">
                  <p>
                    Vietnam, situated in Southeast Asia, is renowned for its
                    stunning golden sand beaches, breathtaking landscapes,
                    captivating bays, imposing highlands, and rich cultural
                    heritage. Throughout its history, the country has undergone
                    much transformation, preserving its ancient charm while
                    embracing its modernity
                  </p>
                  <div class="ta-center">
                    <a href="" class="btn-sm"><strong>See more</strong></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="clm item-destinion" style="--w-lg: 3">
              <div class="inner-dest">
                <a href="">
                  <span class="tt">Vietnam tours</span>
                  <span class="img-dest-list">
                    <img
                      src="https://www.asiakingtravel.com/uploads/images/67/vnese-lady_w350_h682_c1.jpg"
                      alt=""
                      class="img-hidden"
                    />
                  </span>
                </a>

                <div class="btm">
                  <p>
                    Vietnam, situated in Southeast Asia, is renowned for its
                    stunning golden sand beaches, breathtaking landscapes,
                    captivating bays, imposing highlands, and rich cultural
                    heritage. Throughout its history, the country has undergone
                    much transformation, preserving its ancient charm while
                    embracing its modernity
                  </p>
                  <div class="ta-center">
                    <a href="" class="btn-sm"><strong>See more</strong></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="clm item-destinion" style="--w-lg: 3">
              <div class="inner-dest">
                <a href="">
                  <span class="tt">Vietnam tours</span>
                  <span class="img-dest-list">
                    <img
                      src="https://www.asiakingtravel.com/uploads/images/67/vnese-lady_w350_h682_c1.jpg"
                      alt=""
                      class="img-hidden"
                    />
                  </span>
                </a>

                <div class="btm">
                  <p>
                    Vietnam, situated in Southeast Asia, is renowned for its
                    stunning golden sand beaches, breathtaking landscapes,
                    captivating bays, imposing highlands, and rich cultural
                    heritage. Throughout its history, the country has undergone
                    much transformation, preserving its ancient charm while
                    embracing its modernity
                  </p>
                  <div class="ta-center">
                    <a href="" class="btn-sm"><strong>See more</strong></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="clm item-destinion" style="--w-lg: 3">
              <div class="inner-dest">
                <a href="">
                  <span class="tt">Vietnam tours</span>
                  <span class="img-dest-list">
                    <img
                      src="https://www.asiakingtravel.com/uploads/images/67/vnese-lady_w350_h682_c1.jpg"
                      alt=""
                      class="img-hidden"
                    />
                  </span>
                </a>

                <div class="btm">
                  <p>
                    Vietnam, situated in Southeast Asia, is renowned for its
                    stunning golden sand beaches, breathtaking landscapes,
                    captivating bays, imposing highlands, and rich cultural
                    heritage. Throughout its history, the country has undergone
                    much transformation, preserving its ancient charm while
                    embracing its modernity
                  </p>
                  <div class="ta-center">
                    <a href="" class="btn-sm"><strong>See more</strong></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="clm item-destinion" style="--w-lg: 3">
              <div class="inner-dest">
                <a href="">
                  <span class="tt">Vietnam tours</span>
                  <span class="img-dest-list">
                    <img
                      src="https://www.asiakingtravel.com/uploads/images/67/vnese-lady_w350_h682_c1.jpg"
                      alt=""
                      class="img-hidden"
                    />
                  </span>
                </a>

                <div class="btm">
                  <p>
                    Vietnam, situated in Southeast Asia, is renowned for its
                    stunning golden sand beaches, breathtaking landscapes,
                    captivating bays, imposing highlands, and rich cultural
                    heritage. Throughout its history, the country has undergone
                    much transformation, preserving its ancient charm while
                    embracing its modernity
                  </p>
                  <div class="ta-center">
                    <a href="" class="btn-sm"><strong>See more</strong></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="clm item-destinion" style="--w-lg: 3">
              <div class="inner-dest">
                <a href="">
                  <span class="tt">Vietnam tours</span>
                  <span class="img-dest-list">
                    <img
                      src="https://www.asiakingtravel.com/uploads/images/67/vnese-lady_w350_h682_c1.jpg"
                      alt=""
                      class="img-hidden"
                    />
                  </span>
                </a>

                <div class="btm">
                  <p>
                    Vietnam, situated in Southeast Asia, is renowned for its
                    stunning golden sand beaches, breathtaking landscapes,
                    captivating bays, imposing highlands, and rich cultural
                    heritage. Throughout its history, the country has undergone
                    much transformation, preserving its ancient charm while
                    embracing its modernity
                  </p>
                  <div class="ta-center">
                    <a href="" class="btn-sm"><strong>See more</strong></a>
                  </div>
                </div>
              </div>
            </div>         
          </div>
        </section>
      </div>
    </main>

    <!-- slick  -->
    <script
      type="text/javascript"
      src="https://code.jquery.com/jquery-1.11.0.min.js"
    ></script>
    <script
      type="text/javascript"
      src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"
    ></script>
    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"
    ></script>
    <!-- end slick -->

    <script src="../src/Access/js/main.js"></script>
  </body>
</html>
