<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" type="text/css"
            href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
        <link rel="stylesheet" href="../src/Access/css/unitis/utilitiesRb.css">
        <link rel="stylesheet" href="../src/Access/css/our-team.css">
    </head>

<body>
    <section class="our-team">
        <div class="ctnr">
            <div class="row">
                <div class="clm" style="--w-lg: 9;--w-xs:12">
                    <div class="team-wrap">
                        <strong class="fw-700">Our Team.</strong>
                        <div class="team__desc">
                            <span class="d-block">Most of us from Vietnam, we have long time working in tourism for many
                                different
                                travel companies. Joining Asia King Travel is great chance to work more, get more
                                challenge and opportunity for better life.</span>
                            <span class="d-block">We are carefully recruited from travel consultants, operator, tour
                                guide, drivers
                                based on experience, knowledge, passion of tourism, kindness and job
                                certificates.</span>
                            <span class="d-block">We always strive to strengthen our skills by organizing meetings and
                                training sessions
                                to share experiences. We also regularly organize familiarization trips to enrich our
                                knowledge of the destinations and services of restaurants, hotels, and transportation
                                throughout the country. As a result, we can build new circuits to meet all customer
                                demands.</span>
                            <span class="d-block">Professionalism, efficiency, quality and customer satisfaction are our
                                goals and
                                missions. For us, customers are kings. We always want to listen to you and be present to
                                accompany you on your journey.</span>
                        </div>
                        <div class="team-image">
                            <div class="team__item clm" style="--w-xs:12">
                                <img src="https://www.asiakingtravel.com/cuploads/images/team(1).gif" alt="">
                            </div>
                            <div class="team__item clm" style="--w-xs:12">
                                <img src="https://www.asiakingtravel.com/cuploads/images/team(1).gif" alt="">
                            </div>
                            <div class="team__item clm" style="--w-xs:12">
                                <img src="https://www.asiakingtravel.com/cuploads/images/team(1).gif" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clm" style="--w-lg: 3;--w-xs:12"></div>
            </div>
        </div>
    </section>
    <!-- slick  -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <!-- end slick -->
    <script src="../src/Access/js/main.js"></script>
</body>

</html>