<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" type="text/css"
            href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
        <link rel="stylesheet" href="../src/Access/css/unitis/utilitiesRb.css">
        <link rel="stylesheet" href="../src/Access/css/payment.css">
    </head>

<body>
    <section class="payment-team">
        <div class="ctnr">
            <div class="row">
                <div class="clm" style="--w-lg: 9;--w-xs:12">
                    <div class="payment-wrap">
                        <strong class="fw-700">Our Team.</strong>
                        <span class="d-block payment__desc">To make the booking, please fill out the reservation form
                            and personal form and return to
                            us by email. Then make deposit payment 30 % of the total amount.</span>
                        <div class="payment-mr">
                            <strong class="fw-700">1/ Bank Transfer</strong> to our bank account:
                            <span class="d-block">We will issue the invoice where our bank account is indicated. We will
                                recieve your
                                payment via bank around 3-5 working days.
                                Please note that our price doesn't cover any bank fee</span>
                        </div>
                        <div class="payment-mr">
                            <strong class="fw-700">2/ Money Transfer Services</strong> (Also strongly recommended) <br>
                            <strong class="fw-700">+ Xoom :</strong> (Quick, reliable and cheap fee , you can pay enven
                            by your credit card <a href="">https://www.xoom.com</a> ) <br>
                            <strong class="fw-700">+ Western Union Services</strong> (Quick, famous <a
                                href="">http://www.westernunion.com/info/selectCountry.asp</a>)
                            <span class="d-block  payment__desc">Recipient information in case you use and Western Union
                                or Money Gram Services:</span>
                            <span class="d-block">Recipient's name: Nguyen Thi Thanh Thuy (Last name: Nguyen ; First
                                name: Thi Thanh Thuy)</span>
                            <span class="d-block">ID: 031311288</span>
                            <span class="d-block">Cell phone: +84-914316443</span>
                        </div>
                        <div class="payment-mr">
                            <strong class="fw-700">3/ By Paypal account.</strong>
                            <span class="d-block">
                                If you have already the PAYPAL account. Please login <a href="">www.paypal.com</a> and
                                make payment by
                                PAYPAL by email : <a href="">paypal@asiakingtravel.com</a> . Please note that you must
                                add <strong>4%</strong> to the
                                total amount for PAYPAL fee.
                            </span>
                        </div>
                        <div class="payment-mr">
                            <strong class="fw-700">4/Master / Visa Card / JCB/ Amex by ONLINE PAYMENT SYSTEM</strong>
                            <span class="d-block">
                                In case of the credit card payment, you must pay 3.5% for credit card fee. We connect
                                with Payment Gateway to accept Online Card Payment . All of your card information is
                                processed through SSL protocol with international card security standard. Your card
                                information will not be stored at our system (Merchant).
                            </span>
                            <span class="d-block">
                                After you have received Invoice Payment Link, please check the information of the
                                Invoice. If all the information is correct, please check the Terms and Conditions and
                                click, I agree with Terms and Conditions, and click Submit. You will be redirected to
                                OnePAY Payment Gateway to pay us online with Visa, MasterCard, American Express, and JCB
                                Card with following steps:
                            </span>
                        </div>
                        <div class="payment-mr">
                            <strong class="fw-700">Payment terms</strong>
                            <span class="d-block">
                                All trips require a non-refundable deposit: 30 % of total amount. The deposits will
                                confirm your reservation until 30 days prior to trip departure, at which time the
                                balance of the trip is due. If the balance is not paid in full by the due date, we will
                                regard the booking as cancelled.
                            </span>
                        </div>
                        <div class="payment-mr">
                            <strong class="fw-700">Cancellation policy</strong>
                            <span class="d-block">
                                Rights to refunds if you change or cancel your reservation are sometimes limited as we
                                usually need to prepay some suppliers, and our negotiated rates are obtained through
                                committing to advance payment. We strongly recommend you purchase trip insurance
                                including trip cancellation and interruption insurance, which may reimburse you for
                                cancellation penalties and extra trip expenses should a circumstance covered by the
                                policy force you to cancel or interrupt your trip. In the event we cancel a trip, for
                                any reason, all money for services described in the reserved itinerary, less airline
                                ticket cancellation fees, will be refunded.
                            </span>
                            <span class="d-block payment__desc">
                                Any cancellation by a client must be made in writing (email, fax or other). The date on
                                which the cancellation notice is received by the company or its agents will determine
                                the applicable cancellation fee.
                            </span>
                            <span class="d-block payment__desc">

                                Refund checks will normally be mailed within three weeks of cancellation, assuming we
                                experience no difficulty or delay in receiving the corresponding refund(s) from the
                                suppliers involved.
                            </span>
                            <span class="d-block payment__desc">
                                Once travel commences there will be no refunds made on unused portions, nor is the price
                                or value exchangeable for alternative services. Asia King Travel prepays hotels and tour
                                operators. If you should not use some portion of your reservation and the hotel or tour
                                operator is willing to give you credit, you must have a signed letter from the manager
                                requesting Asia King Travel to issue a refund.Unless indicated otherwise at or prior to
                                the time of reservation, the following charges per person will apply in the event of
                                cancellation prior to arrival:
                            </span>
                            <span class="d-block payment__desc">
                                Any cancellation by a client must be made in writing (email, fax or other). The date on
                                which the cancellation notice is received by the company or its agents will determine
                                the applicable cancellation fee.
                            </span>
                            <span class="d-block payment__desc">
                                Any cancellation by a client must be made in writing (email, fax or other). The date on
                                which the cancellation notice is received by the company or its agents will determine
                                the applicable cancellation fee.
                            </span>
                        </div>
                    </div>
                </div>
                <div class="clm" style="--w-lg: 3;--w-xs:12"></div>
            </div>
        </div>
    </section>
    <!-- slick  -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <!-- end slick -->
    <script src="../src/Access/js/main.js"></script>
</body>

</html>