<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" type="text/css"
            href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
        <link rel="stylesheet" href="../src/Access/css/unitis/utilitiesRb.css">
        <link rel="stylesheet" href="../src/Access/css/responsible.css">
    </head>

<body>
    <section class="responsible">
        <div class="ctnr">
            <div class="row">
                <div class="clm" style="--w-lg: 9;--w-xs:12">
                    <div class="responsible-wrap">
                        <span>
                            At Asia King Travel, responsible travel is also our commitment, ensuring that we are
                            respecting the sustainable development of our destinations. With the fast growing number of
                            tourists coming to Southeast Asia comes a heavy responsibility for all travellers and the
                            ones who executes the experiences. We work in hand with our partners while operate in a
                            respecting manner toward the environment and our society, to demonstrate the principles of
                            responsible travel and to bring the best services to our customers.
                        </span>
                        <strong class="responsible__title d-block">What is Responsible Travel?</strong>
                        <span>
                            Responsible Travel, simply put, is travel that creates better places for people to live in,
                            and better places to visit. Responsible tourism is fast becoming a global trend. Recognizing
                            the global significance and importance of the responsible tourism has inspired Vietnam's
                            Responsible Travel Club.
                            Created by the World Travel Mart (WTM), World Responsible Tourism Day, is celebrated
                            annually during November. World Responsible Tourism Day is endorsed by the World Tourism
                            Organisation and World <a class="d-inline-block" href="">Travel and Tourism Council.</a>
                        </span>
                        <div>
                            <strong class="responsible__title d-block">Why Responsible Travel?</strong>
                            <span>Here are some of the benefits of responsible travel and traveling
                                responsibility:</span>
                            <ul class="responsible-menu">
                                <li>Minimizes negative economic, environmental and social impacts.</li>
                                <li>Generates greater economic benefits for local people, enhancing the quality of life
                                    for host communities.</li>
                                <li>Improves working conditions and accessibly to the tourism industry.</li>
                                <li>Minimizes negative economic, environmental and social impacts.</li>
                                <li>Generates greater economic benefits for local people, enhancing the quality of life
                                    for host communities.</li>
                                <li>Improves working conditions and accessibly to the tourism industry.</li>
                                <li>Minimizes negative economic, environmental and social impacts.</li>
                                <li>Generates greater economic benefits for local people, enhancing the quality of life
                                    for host communities.</li>
                                <li>Improves working conditions and accessibly to the tourism industry.</li>
                            </ul>
                        </div>
                        <div>
                            <strong class="responsible__title d-block">Achieving social responsibility</strong>
                            <ol class="responsible-menu">
                                <li> Assess environmental impacts throughout the life cycle of tourist establishments
                                    and operations and ensure that negative impacts are reduced to the minimum and
                                    maximising positive ones;</li>
                                <li>Assess social impacts throughout the life cycle of the operation in order to
                                    minimise negative impacts and maximise positive ones;</li>
                                <li>Endeavour to make tourism an inclusive social experience and to ensure that there is
                                    access for all, in particular vulnerable and disadvantaged communities and
                                    individuals;</li>
                                <li>Combat the sexual exploitation of human beings, particularly the exploitation of
                                    children;</li>
                            </ol>
                        </div>
                        <div>
                            <strong class="responsible__title d-block">Achieving social responsibility</strong>
                            <ol class="responsible-menu">
                                <li> Assess environmental impacts throughout the life cycle of tourist establishments
                                    and operations and ensure that negative impacts are reduced to the minimum and
                                    maximising positive ones;</li>
                                <li>Assess social impacts throughout the life cycle of the operation in order to
                                    minimise negative impacts and maximise positive ones;</li>
                                <li>Endeavour to make tourism an inclusive social experience and to ensure that there is
                                    access for all, in particular vulnerable and disadvantaged communities and
                                    individuals;</li>
                                <li>Combat the sexual exploitation of human beings, particularly the exploitation of
                                    children;</li>
                            </ol>
                        </div>
                        <div>
                            <strong class="responsible__title d-block" style="color:#3399cc">How are we doing
                                this?</strong>
                            <span class="d-block">
                                In recent years, we have built Asia King Travel’s charity fund to conduct projects to
                                support local communities by buying cattle, rebuilding schools and supplying facilities
                                for households and children in poor highland areas. Being a member of The Responsible
                                Travel Club of Vietnam in 2014, an informal association of different travel agencies,
                                NGOs and individuals dedicated to <strong>building, practicing & developing responsible
                                    travel
                                    for a sustainable growth in tourism</strong>, Asia King Travel has been making great
                                effort to
                                support local people in all regions of Vietnam, Laos and Cambodia.
                            </span>
                        </div>
                    </div>
                </div>
                <div class="clm" style="--w-lg: 3;--w-xs:12"></div>
            </div>
        </div>
    </section>
    <!-- slick  -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <!-- end slick -->
    <script src="../src/Access/js/main.js"></script>
</body>

</html>