<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link  rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link  rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <link rel="stylesheet" href="../src/Access/css/unitis/utilitiesRb.css">
    <link rel="stylesheet" href="../src/Access/css/destination-list.css">
    <link rel="stylesheet" href="../src/Access/css/travel-theme-list.css">

</head>
<body>
    




<section class="travel-theme-list">
    <div class="ctnr">
        <div class="box_head ta-center">
            <a href="" class="box_head_title"> Tour destinations </a>
            <p>
              Select the tour activities that you in all Southeast Asia
              countries, honeymoon, beach holiday, adventure tours...
            </p>
          </div>


          <div class="box-body-travel">
            <div class="row">
                <div class="clm item-body-travel" style="--w-lg:3">
                    <a href="">
                        <img src="https://www.asiakingtravel.com/uploads/images/73/halong-bay-3_w250_h160_c1.jpg" alt="">
                        <span class="box-body-travel-title">Classic Highlights</span>
                    </a>
                </div>
                <div class="clm item-body-travel" style="--w-lg:3">
                     <a href="">
                        <img src="https://www.asiakingtravel.com/uploads/images/73/halong-bay-3_w250_h160_c1.jpg" alt="">
                        <span class="box-body-travel-title">Classic Highlights</span>
                    </a>
                </div>
                <div class="clm item-body-travel" style="--w-lg:3">
                     <a href="">
                        <img src="https://www.asiakingtravel.com/uploads/images/73/halong-bay-3_w250_h160_c1.jpg" alt="">
                        <span class="box-body-travel-title">Classic Highlights</span>
                    </a>
                </div>
                <div class="clm item-body-travel" style="--w-lg:3">
                     <a href="">
                        <img src="https://www.asiakingtravel.com/uploads/images/73/halong-bay-3_w250_h160_c1.jpg" alt="">
                        <span class="box-body-travel-title">Classic Highlights</span>
                    </a>
                </div>
            </div>
          </div>



    </div>
</section>













<!-- slick  -->
    <script
      type="text/javascript"
      src="https://code.jquery.com/jquery-1.11.0.min.js"
    ></script>
    <script
      type="text/javascript"
      src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"
    ></script>
    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"
    ></script>
<!-- end slick -->
<script src="../src/Access/js/main.js"></script>
</body>
</html>