<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"
    />
    <!DOCTYPE html>
    <html lang="en">
      <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link
          rel="stylesheet"
          type="text/css"
          href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"
        />
        <link
          rel="stylesheet"
          href="../src/Access/css/unitis/utilitiesRb.css"
        />
        <link rel="stylesheet" href="../src/Access/css/well.css" />
        <link rel="stylesheet" href="../src/Access/css/destination-list.css" />
      </head>
      <body>
        <section class="well">
          <div class="ctnr">
            <div class="row">
              <div class="clm mcr" style="--w-lg: 9">
                <div class="well-right">
                  <h2 class="well-r-title">Destinations</h2>
                  <div class="well-content-right">
                    <p>
                      <span
                        >Asia is a land of incredible diversity, where cultures
                        converge and magnificent sights and sounds abound. For
                        travelers, it offers an exciting adventure into the
                        world's most exotic destinations. Our company
                        specializes in crafting unforgettable journeys that
                        uncover the cultural highlights and hidden gems
                        throughout the region. Our customizable tours are
                        designed to match your unique travel style, offering you
                        a chance to discover the richness of Asia's culture in
                        your own way. Whether you're seeking adventure,
                        relaxation, or a mix of both, we'll help you create an
                        experience that's truly memorable and fulfilling. So
                        come and explore Asia with us, where every moment is an
                        opportunity for discovery and adventure.</span
                      >
                    </p>
                  </div>
                  <div class="btn-well">
                    <a href="">Tailor-made your trip ></a>
                  </div>
                </div>

                <section class="travel-themes">
                  <div class="row box-destinationList-row">
                    <div class="clm item-destinion" style="--w-lg: 6">
                      <div class="inner-dest">
                        <a href="">
                          <span class="tt">Vietnam tours</span>
                          <span class="img-dest-list">
                            <img
                              src="https://www.asiakingtravel.com/uploads/images/67/vnese-lady_w350_h682_c1.jpg"
                              alt=""
                              class="img-hidden"
                            />
                          </span>
                        </a>

                        <div class="btm">
                          <p>
                            Vietnam, situated in Southeast Asia, is renowned for
                            its stunning golden sand beaches, breathtaking
                            landscapes, captivating bays, imposing highlands,
                            and rich cultural heritage. Throughout its history,
                            the country has undergone much transformation,
                            preserving its ancient charm while embracing its
                            modernity
                          </p>
                          <div class="ta-center">
                            <a href="" class="btn-sm"
                              ><strong>See more</strong></a
                            >
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="clm item-destinion" style="--w-lg: 6">
                      <div class="inner-dest">
                        <a href="">
                          <span class="tt">Vietnam tours</span>
                          <span class="img-dest-list">
                            <img
                              src="https://www.asiakingtravel.com/uploads/images/67/vnese-lady_w350_h682_c1.jpg"
                              alt=""
                              class="img-hidden"
                            />
                          </span>
                        </a>

                        <div class="btm">
                          <p>
                            Vietnam, situated in Southeast Asia, is renowned for
                            its stunning golden sand beaches, breathtaking
                            landscapes, captivating bays, imposing highlands,
                            and rich cultural heritage. Throughout its history,
                            the country has undergone much transformation,
                            preserving its ancient charm while embracing its
                            modernity
                          </p>
                          <div class="ta-center">
                            <a href="" class="btn-sm"
                              ><strong>See more</strong></a
                            >
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="clm item-destinion" style="--w-lg: 6">
                      <div class="inner-dest">
                        <a href="">
                          <span class="tt">Vietnam tours</span>
                          <span class="img-dest-list">
                            <img
                              src="https://www.asiakingtravel.com/uploads/images/67/vnese-lady_w350_h682_c1.jpg"
                              alt=""
                              class="img-hidden"
                            />
                          </span>
                        </a>

                        <div class="btm">
                          <p>
                            Vietnam, situated in Southeast Asia, is renowned for
                            its stunning golden sand beaches, breathtaking
                            landscapes, captivating bays, imposing highlands,
                            and rich cultural heritage. Throughout its history,
                            the country has undergone much transformation,
                            preserving its ancient charm while embracing its
                            modernity
                          </p>
                          <div class="ta-center">
                            <a href="" class="btn-sm"
                              ><strong>See more</strong></a
                            >
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
              </div>
              <div class="clm mcl" style="--w-lg: 3"></div>
            </div>
          </div>
        </section>

        <!-- slick  -->
        <script
          type="text/javascript"
          src="https://code.jquery.com/jquery-1.11.0.min.js"
        ></script>
        <script
          type="text/javascript"
          src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"
        ></script>
        <script
          type="text/javascript"
          src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"
        ></script>
        <!-- end slick -->
        <script src="../src/Access/js/main.js"></script>
      </body>
    </html>
  </head>
</html>
