@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Display:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,800;1,900&family=Noto+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100;200;300;400;500;600;700;800;900&display=swap');

html {
  font-size: 10px;
}

:root {
  --gutter: 15px;

  --container: 100%;
  --gutter-container: 15px;

  --container-fluid: 100%;
  --container-fluid-gutter: 7px;

  --heading-1: 3.0rem;
  --heading-2: 2.1rem;
  --heading-3: 1.6rem;
  --heading-4: 2.2rem;
  --heading-5: 2.6rem;
  --heading-6: 1.3rem;
  --font-size-body: 1.3rem;

  --bg-primary: white;
  --bg-second: black;
  --bg-theme: rgb(242, 173, 68);
  /* color main */
  --bg-themesecond: rgb(62, 126, 194);

  --color-primary: white;
  --color-second: black;
  --color-theme: rgb(242, 173, 68);
  /* color main */
  --bg-themesecond: rgb(62, 126, 194);

  --font-heading-family: Roboto, sans-serif;
  --font-body-family: Roboto, sans-serif;

  --pd-distancesection-top: 100px;
  /* sử dụng cho khoảng cách giữ các section */
  --pd-distancesection-bottom: 100px;
  /* sử dụng cho khoảng cách giữ các section */

  --btn--yellow: rgb(242, 173, 68);
  --btn--black: black;
  --btn--blue: rgb(0, 123, 255);
  --btn--red: #dc3545;
  --btn--green: rgb(40, 167, 69);


}

@media (min-width: 576px) {}

@media (min-width: 768px) {
  :root {
    --container: 720px;

    --heading-1: 3.1rem;
    /* title slide */
    --heading-2: 2.8rem;
    /* title section */
    --heading-3: 2.1rem;
    /* title posts primary */
    --heading-4: 1.6rem;
    /* title posts second */
    --heading-5: 2.2rem;
    --heading-6: 1.4rem;
    /* subtitle section */
    --font-size-body: 1.3rem;
    /* use for content */
  }
}

@media (min-width: 992px) {
  :root {
    --container: 960px;

  }
}

@media (min-width: 1200px) {
  :root {
    --container: 1140px;
    --container-fluid-gutter: 15px;
    --gutter: 15px;

    --heading-1: 3.1rem;
    /* title slide */
    --heading-2: 2.8rem;
    /* title section */
    --heading-3: 2.1rem;
    /* title posts primary */
    --heading-4: 1.6rem;
    /* title posts second */
    --heading-5: 2.2rem;
    --heading-6: 1.4rem;
    /* subtitle section */
    --font-size-body: 1.3rem;
    /* use for content */

  }
}

@media (min-width: 1400px) {
  :root {
    --container: 1200px;
  }
}

/*------------------------------------*/
/* CHANG-DEFAULT */
/*------------------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: var(--font-size-body);
  font-family: var(--font-body-family);
  background-color: var(--bg-primary);
  color: var(--color-second);
  line-height: 1.6;
}

img {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

a:hover {
  color: var(--color-second);
}

p {
  padding-bottom: 0px;
}

input {
  border: 0;
}

label {
  font-weight: bold;
  display: block;
  font-size: 14px;
  margin-bottom: 0.4em;
}

/*------------------------------------*/
/* #CONTAINER */
/*------------------------------------*/
.ctnr {
  padding: 0 var(--gutter-container);
  margin: 0 auto;
  max-width: var(--container);
}

.ctnr-fluid {
  padding: 0 var(--container-fluid-gutter);
  margin: 0 auto;
  max-width: var(--container-fluid);
}

/*------------------------------------*/
/* #FONT */
/*------------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.healine {
  margin: 0;
  font-family: var(--font-heading-family);
  word-break: break-word;
  line-height: 1.3;
  font-weight: 600;
}

.h1,
h1 {
  font-size: var(--heading-1);
}

.h2,
h2 {
  font-size: var(--heading-2);
}

.h3,
h3 {
  font-size: var(--heading-3);
}

.h4,
h4 {
  font-size: var(--heading-4);
}

.h5,
h5 {
  font-size: var(--heading-5);
}

.h6,
h6 {
  font-size: var(--heading-6);
}

.tt-up {
  text-transform: uppercase;
}

.tt-cap {
  text-transform: capitalize;
}

.td-none {
  text-decoration: none;
}

.td-underline {
  text-decoration: underline;
}

.fw-100 {
  font-weight: 100;
}

.fw-200 {
  font-weight: 200;
}

.fw-300 {
  font-weight: 300;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.fw-800 {
  font-weight: 800;
}

.fw-900 {
  font-weight: 900;
}

/*------------------------------------*/
/* #BUTTON */
/*------------------------------------*/
.btn,
button {
  cursor: pointer;
  border: 0;
  padding: 10px 20px;
  font-family: var(--font-body-family);
  transition: all .3s ease;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: inherit;
  word-break: break-all;
  font-size: var(--heading-6);
  background-color: transparent;
}

.btn-black {
  background-color: var(--btn--black);
}

.btn-yellow {
  background-color: rgb(242, 173, 68);
}

.btn-blue {
  background-color: rgb(0, 123, 255);
}

.btn-red {
  background-color: #dc3545;
}

.btn-green {
  background-color: rgb(40, 167, 69);
}

.btn-bgblack {
  background-color: var(--bg-second);
}

.btn-primary {
  color: var(--color-theme);
  border: 2px solid var(--bg-theme);
}

.btn-second {
  color: var(--color-primary);
  background-color: var(--bg-theme);

}

.cs-pointer {
  cursor: pointer;
}

/*------------------------------------*/
/* #HEIGHT */
/*------------------------------------*/
.h-100 {
  height: 100%;
}

.h-100v {
  height: 100vh;
}

.mah-100 {
  max-height: 100%;
}

.mah-100v {
  max-height: 100vh;
}

.h-500p {
  height: 500px;
}

.h-auto {
  height: auto;
}

/*------------------------------------*/
/* #WIDTH */
/*------------------------------------*/
.w-100 {
  width: 100%;
}

.w-100v {
  width: 100vw;
}

.w-auto {
  width: auto;
}

.maw-100 {
  max-width: 100%;
}

.miw-100 {
  min-width: 100%;
}

/*------------------------------------*/
/* #DISPLAY */
/*------------------------------------*/
.d-block {
  display: block;
}

.d-none {
  display: none;
}

.d-inline-block {
  display: inline-block;
}

.d-inline-flex {
  display: inline-flex;
}

.d-flex {
  display: flex;
}

.d-grid {
  display: grid;
}

/*------------------------------------*/
/* #DISPLAY-FLEX */
/*------------------------------------*/
.flex-1 {
  flex: 1;
}

.fg-1 {
  flex-grow: 1;
}

.fs-0 {
  flex-shrink: 0;
}

.fw-wrap {
  flex-wrap: wrap;
}

.fw-nowrap {
  flex-wrap: nowrap;
}

.fd-row {
  flex-direction: row;
}

.fd-row-reverse {
  flex-direction: row-reverse;
}

.fd-column {
  flex-direction: column;
}

.fd-column-reverse {
  flex-direction: column-reverse;
}

.js-between {
  justify-content: space-between;
}

.js-around {
  justify-content: space-around;
}

.js-center {
  justify-content: center;
}

.js-right {
  justify-content: right;
}

.js-left {
  justify-content: left;
}

.ai-flex-start {
  align-items: flex-start;
}

.ai-flex-end {
  align-items: flex-end;
}

.ai-center {
  align-items: center;
}

.ai-end {
  align-items: end;
}

/*------------------------------------*/
/* #TEXT-ALIGN */
/*------------------------------------*/
.ta-left {
  text-align: left;
}

.ta-right {
  text-align: right;
}

.ta-center {
  text-align: center;
}

/*------------------------------------*/
/* #POSITION */
/*------------------------------------*/
.p-relative {
  position: relative;
}

.p-absolute {
  position: absolute;
}

.p-fixed {
  position: fixed;
}

.p-sticky {
  position: sticky;
}

.top-0 {
  top: 0;
}

.left-0 {
  left: 0;
}

.right-0 {
  right: 0;
}

.bottom-0 {
  bottom: 0;
}

.bottom-16 {
  bottom: 16px;
}

.middle-y {
  top: 50%;
  transform: translateY(-50%);
}

.middle-x {
  left: 50%;
  transform: translateX(-50%);
}

/*------------------------------------*/
/* #BORDER */
/*------------------------------------*/
.border-0 {
  border: 0;
}

.border-1 {
  border: 1px;
}

.border-2 {
  border: 2px;
}

.border-3 {
  border: 3px;
}

/*------------------------------------*/
/* #OVERLAY*/
/*------------------------------------*/
.overlay::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  opacity: .3;
}

/*------------------------------------*/
/* #ROW-COLUMN */
/*------------------------------------*/
.row {
  display: flex;
  flex-wrap: wrap;
  margin-inline: calc(-1 * var(--gutter));
}

.clm {
  flex: 1 0 auto;
  padding-inline: var(--gutter);
}

[style*="--w-xs"] {
  width: calc(100%/12 * var(--w-xs));
  max-width: calc(100%/12 * var(--w-xs));
}

@media (min-width: 576px) {
  [style*="--w-sm"] {
    width: calc((100%/12) * var(--w-sm));
    max-width: calc((100%/12) * var(--w-sm));
  }
}

@media (min-width: 768px) {
  [style*="--w-md"] {
    width: calc((100%/12) * var(--w-md));
    max-width: calc((100%/12) * var(--w-md));
  }
}

@media (min-width: 992px) {
  [style*="--w-lg"] {
    width: calc((100%/12) * var(--w-lg));
    max-width: calc((100%/12) * var(--w-lg));
  }
}

@media (min-width: 1200px) {
  [style*="--w-xl"] {
    width: calc((100%/12) * var(--w-xl));
    max-width: calc((100%/12) * var(--w-xl));
  }

  .col-xl-2dot4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
  }
}

/*------------------------------------*/
/* #GRID */
/*------------------------------------*/
[style*="--gap-xs"] {
  gap: var(--gap-xs);
}

[style*="--gc-xs"] {
  grid-column: var(--gc-xs);
}

[style*="--gr-xs"] {
  grid-row: var(--gr-xs);
}

[style*="--gtc-xs"] {
  grid-template-columns: repeat(var(--gtc-xs), 1fr);
}

[style*="--gtr-xs"] {
  grid-template-rows: repeat(var(--gtr-xs), 1fr);
}

@media (min-width: 576px) {
  [style*="--gc-sm"] {
    grid-column: var(--gc-sm);
  }

  [style*="--gr-sm"] {
    grid-row: var(--gr-sm);
  }

  [style*="--gtc-sm"] {
    grid-template-columns: repeat(var(--gtc-sm), 1fr);
  }

  [style*="--gtr-sm"] {
    grid-template-rows: repeat(var(--gtr-sm), 1fr);
  }
}

@media (min-width: 768px) {
  [style*="--gap-md"] {
    gap: var(--gap-md);
  }

  [style*="--gc-md"] {
    grid-column: var(--gc-md);
  }

  [style*="--gr-md"] {
    grid-row: var(--gr-md);
  }

  [style*="--gtc-md"] {
    grid-template-columns: repeat(var(--gtc-md), 1fr);
  }

  [style*="--gtr-md"] {
    grid-template-rows: repeat(var(--gtr-md), 1fr);
  }
}

@media (min-width: 992px) {
  [style*="--gap-lg"] {
    gap: var(--gap-lg);
  }

  [style*="--gc-lg"] {
    grid-column: var(--gc-lg);
  }

  [style*="--gr-lg"] {
    grid-row: var(--gr-lg);
  }

  [style*="--gtc-lg"] {
    grid-template-columns: repeat(var(--gtc-lg), 1fr);
  }

  [style*="--gtr-lg"] {
    grid-template-rows: repeat(var(--gtr-lg), 1fr);
  }
}

@media (min-width: 1200px) {
  [style*="--gap-xl"] {
    gap: var(--gap-xl);
  }

  [style*="--gc-xl"] {
    grid-column: var(--gc-xl);
  }

  [style*="--gr-xl"] {
    grid-row: var(--gr-xl);
  }

  [style*="--gtc-xl"] {
    grid-template-columns: repeat(var(--gtc-xl), 1fr);
  }

  [style*="--gtr-xl"] {
    grid-template-rows: repeat(var(--gtr-xl), 1fr);
  }
}

@media (min-width: 1400px) {
  [style*="--gc-xxl"] {
    grid-column: var(--gc-xxl);
  }

  [style*="--gr-xxl"] {
    grid-row: var(--gr-xxl);
  }

  [style*="--gtc-xxl"] {
    grid-template-columns: repeat(var(--gtc-xxl), 1fr);
  }

  [style*="--gtr-xxl"] {
    grid-template-rows: repeat(var(--gtr-xxl), 1fr);
  }
}